span
  img.thumbnail(ng-hide='image', ng-src='http://placehold.it/{{width}}x{{height}}&text={{text}}')
  img.thumbnail(ng-show='image', ng-src='https://res.cloudinary.com/parks-brainstorm/image/upload/c_fill,h_{{height}},w_{{width}}/{{image.public_id}}')